@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #01959F;
  --color-primary-surface: #F3FBFC;
  --color-primary-border: #4DB5BC;
  --color-primary-hover: #01777F;
  --color-primary-pressed: #01595F;
  --color-primary-focus: rgba(1, 149, 159, 0.2);

  --color-secondary: #FBC037;
  --color-secondary-surface: #FFFCF5;
  --color-secondary-border: #FEEABC;
  --color-secondary-hover: #F8A92F;
  --color-secondary-pressed: #FA9810;
  --color-secondary-focus: rgba(251, 192, 55, 0.2);

  --color-danger: #E01428;
  --color-danger-surface: #FFF9FA;
  --color-danger-border: #F5B1B7;
  --color-danger-hover: #BC1121;
  --color-danger-pressed: #700A14;
  --color-danger-focus: rgba(224, 20, 40, 0.2);

  --color-warning: #CA7336;
  --color-warning-surface: #FCF7F3;
  --color-warning-border: #FEB17B;
  --color-warning-hover: #B1652F;
  --color-warning-pressed: #985628;
  --color-warning-focus: rgba(202, 115, 54, 0.2);

  --color-success: #43936C;
  --color-success-surface: #F7F7F7;
  --color-success-border: #B8DBCA;
  --color-success-hover: #367A59;
  --color-success-pressed: #20573D;
  --color-success-focus: rgba(67, 147, 108, 0.2);

  --color-neutral-10: #FFFFFF;
  --color-neutral-20: #FAFAFA;
  --color-neutral-30: #EDEDED;
  --color-neutral-40: #E0E0E0;
  --color-neutral-50: #C2C2C2;
  --color-neutral-60: #9E9E9E;
  --color-neutral-70: #757575;
  --color-neutral-80: #616161;
  --color-neutral-90: #404040;
  --color-neutral-100: #1D1F20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */